.button1{
    color: white;
    border-radius: 12px;
    background-color: #44ABFE;
    font-family: 'Open Sans';
}
.button2{
    color: #44ABFE;
    background-color: white;
    border: 1px solid #44ABFE;
    font-family: 'Open Sans';
}