<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/navbar/menu-style.css}">
    <link rel="stylesheet" th:href="@{/css/navbar/search-style.css}">
    <link rel="stylesheet" th:href="@{/css/HomePage/list-style.css}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li style="float: left;"><a class= "logo" href="">TUYENDUNGVN</a></li>
            <li><a class= "ntd" href="">Nhà tuyển dụng</a></li>
            <li><a class="dk" href="/login">Đăng ký</a></li>
            <li><a class="dn" href="/register">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="search-area">
        <div class="search-bar">
            <input type="text" placeholder="Vị trí tuyển dụng | Tên công ty">
            <input type="text" placeholder="Địa điểm">
            <button type="submit">Tìm kiếm</button>
        </div>
    </div>
    <div class="filter">
        <ul>
            <li>Ngành nghề</li>
            <li>Kinh nghiệm</li>
            <li>Mức lương</li>
            <li>Địa điểm</li>
        </ul>
    </div>
    <div class="container">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
</body>
</html>