.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
  }
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


body{
    margin: 0;
    padding: 0;
}
.navbar a{
    text-decoration: none;
    text-align: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Open Sans';
    font-size: 14px;
}
.navbar ul{
    overflow: hidden;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.navbar li{
    float: right;
    list-style-type: none;
    margin: 0;
    margin-right: 20px;
}
.navbar .dn{
    color: #44ABFE;
    border: 1px solid #44ABFE;
    border-radius: 12px;
}
.navbar .dk{
    color: white;
    border-radius: 12px;
    background-color: #44ABFE;
}
.navbar .ntd{
    color: black;
    border-left: 2px solid black;
    font-weight: 500;
}
.navbar .logo{
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid black;
}
.dn:hover{
    background-color: #44ABFE;
    color: white;
}
.dk:hover{
    border: 2px solid rgb(134, 134, 134);
}
.ntd:hover{
    border-bottom: 1px solid black;
}